name: facebook/hermes/build
on: workflow_dispatch

jobs:
  android:
    runs-on: ubuntu-22.04
    env:
      HERMES_WS_DIR: /home/runner/work/hermes/hermes
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'
    - name: Setup git safe folders
      shell: bash
      run: git config --global --add safe.directory '*'
    - name: Setup node.js
      uses: ./.github/actions/setup-node
    - name: Install node dependencies
      uses: ./.github/actions/yarn-install
    - name: Set React Native Version
      shell: bash
      run: node ./utils/scripts/hermes/set-artifacts-version.js --build-type release
    - name: Build android
      shell: bash
      run: |
        cd android
        ./gradlew publishAndroidOnlyToMavenTempLocal :build -PenableWarningsAsErrors=true
   
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4.3.4
      with:
        name: hermesc
        path: ./build
    - name: Upload Maven Artifacts
      uses: actions/upload-artifact@v4.3.4
      with:
        name: maven-local
        path: /tmp/maven-local
