name: facebook/hermes/build
on: workflow_dispatch

jobs:
  android:
    runs-on: ubuntu-22.04
    env:
      HERMES_WS_DIR: /home/runner/work/hermes/hermes
    steps:
    - name: Set up workspace and install dependencies
      run: |-
        yes | sdkmanager "cmake;3.22.1" &
        sudo apt update && sudo apt install -y libicu-dev
    - uses: actions/checkout@v4.1.0
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'

    - name: Setup node.js
      uses: ./.github/actions/setup-node

    - name: Install node dependencies
      uses: ./.github/actions/yarn-install

    - name: Set artifacts version
      shell: bash
      run: node ./utils/scripts/hermes/set-artifacts-version.js --build-type release 

    - name: Build Hermes for Android
      run: |-
        cd android
        ./gradlew publishAndroidOnlyToMavenTempLocal :build -PenableWarningsAsErrors=true

    - name: Upload Maven Artifacts
      uses: actions/upload-artifact@v4.3.4
      with:
        name: maven-local
        path: /tmp/maven-local  
